* {
  margin: 0;
  left: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  min-height: 100vh;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  background: #f00;
}
